<div class="center" style="padding-top: 5%;">
    <h1>About Mada</h1>
    <p>MADA International is one of the most diverse and resilient providers of industry-leading, professional
        services in Lebanon and abroad. Our in-house team is formed of highly qualified consultants, technical
        professionals, industry veterans, experienced trainers and certified specialists in the region. Our
        reputation for service and innovation is only exceeded by our passion for it. We are more than capable
        of serving the needs of private, public, academic, and non-governmental sectors. We hold ourselves to
        only the highest industry standards as a means of providing you with enduring excellence. We envision a
        future where individual efforts and unique approaches become the bedrock of individual and organizational
        success. That's why MADA International goes the extra mile in achieving sustainability and excellence, and
        we are proud of the assistance that we offer to organizations in Lebanon and the Middle East.</p>
</div>

<h1 style="padding-top: 15%;">Our Values</h1>
<section class="content-center">
    <section>
        <h2>Client Centricity</h2>
        <p>Each client is unique, and we prioritize a focused approach that meets your needs and ensures customer
            satisfaction.</p>
    </section>
    <section>
        <h2>Fostering Self-Developement</h2>
        <p>Self-Development is a desired quality for any aspiring organization, ensuring its sustainability.
            Accordingly, we seek to guide our clients on the path to achieving this goal.</p>
    </section>
    <section>
        <h2>Professionalism</h2>
        <p>We hold ourselves to the highest standards in order to build lasting and meaningful relationships with
            our clients.</p>
    </section>
</section>

<div class="center" style="padding-top: 15%; padding-bottom: 5%;">
    <h1>Our Value Added</h1>
    <p>We're not just in it for business. We strongly believe in establishing partner relations and following up
        to ensure satisfaction. With our clients being happy, our relationship will prosper to new levels of efficiency.
        We employ holistic approaches to reach that end:</p>
    <ul>
        <li>We optimize operations for smooth running.</li>
        <li>We aid and operate with innovative tools and systems, keeping you ahead of the pack.rate with innovative
            tools
            and systems, keeping you ahead of the pack.</li>
        <li>We train and develop staff to effectively apply their knowledge and expertise.</li>
        <li>We see the process through from start to finish as part of the team.</li>
    </ul>
</div>