<div class="container">
    <img src="../../../../assets/madalogo.png">
</div>
<div class="card-container">
    <div class="top-row">
        <mat-card class="card-type-top">
            <img class="imageHover" src="../../../../assets/consulting.jpg" routerLink="/consulting">
            <div class="divider"></div>
            <mat-card-content style="padding-top: 5%;">
                <h1>Consulting</h1>
                <p>We strive to help our partners overcome challenges with unique solutions,
                    turn them around, and rebound to a position of strength.
                    Adaptability and partnerships are key to our services.</p>
            </mat-card-content>
        </mat-card>
        <mat-card class="card-type-top">
            <img class="imageHover" src="../../../../assets/a&e.jpeg" routerLink="/analysis">
            <div class="divider"></div>
            <mat-card-content style="padding-top: 5%;">
                <h1>Assessments & Evaluations</h1>
                <p>Our aim is to help you assess your current state of affairs and 
                    streamline the optimal business model that will allow you to achieve 
                    the highest level of efficiency.</p>
            </mat-card-content>
        </mat-card>
        <mat-card class="card-type-top">
            <img class="imageHover" src="../../../../assets/reporting.jpg" routerLink="/reporting">
            <div class="divider"></div>
            <mat-card-content style="padding-top: 5%;">
                <h1>Reporting</h1>
                <p>Irrespective of the industry or field, communication is the backbone of any organization's 
                    ability to branch out and succeed. Our reports will deliver comprehensive yet concise information 
                    and clear content to help create new opportunities for your organization.</p>
            </mat-card-content>
        </mat-card>
    </div>
    <div class="bottom-row">
        <mat-card class="card-type-bottom">
            <img class="imageHover" src="../../../../assets/training.jpg" routerLink="/training">
            <div class="divider"></div>
            <mat-card-content style="padding-top: 5%;">
                <h1>Training & Capacity Building</h1>
                <p>We identify areas where your team can improve and build their capacities 
                    through extensive trainings to achieve excellence.</p>
            </mat-card-content>
        </mat-card>
        <mat-card class="card-type-bottom">
            <img class="imageHover" src="../../../../assets/proposal.jpg" routerLink="/proposal-writing">
            <div class="divider"></div>
            <mat-card-content style="padding-top: 5%;">
                <h1>Proposal Writing & Fundraiser</h1>
                <p>Lay out your needs, plans and strategies in an effective and consistent manner that 
                    complies with donor requirements.</p>
            </mat-card-content>
        </mat-card>
    </div>
</div>